@font-face {
	font-family: 'HS dream';
	src: url('../fonts/HSDream-Regular.otf');
}

.body{
	-fx-background-color:white;
	-fx-font-family: 'HS dream';
}
.menu-bar{
	-fx-background-color: #ee3d48;
	-fx-border-style: solid;
	-fx-border-radius:20 0 0 20;
	-fx-border-color:#ee3d48;
	-fx-border-width:5;
}
.menu-barBoorder{
	-fx-background-color: transparent;
	-fx-border-style: solid;
	-fx-border-color:#ee3d48;
	-fx-border-radius:50 0 0 50;
	-fx-border-width:30;
}
.content{
	-fx-background-color:#f8f8f8;
}
.contentBoorder{
	-fx-background-color: transparent;
	-fx-border-style: solid;
	-fx-border-color:#f8f8f8;
	-fx-border-radius:0 50 50 0;
	-fx-border-width:30;
}
.footer{
	-fx-background-color: white;

}
.footerBoorder{
	-fx-background-color: transparent;
	-fx-border-style: solid;
	-fx-border-color:white;
	-fx-border-radius:30;
	-fx-border-width:20;
}
.pane-table{
	-fx-background-color: white;
}
.pane-tableBoorder{
	-fx-background-color: transparent;
	-fx-border-style: solid;
	-fx-border-color:white;
	-fx-border-radius:30;
	-fx-border-width:20;
}
.list-poducts{
	-fx-background-color: white;
}
.list-poductsBoorder{
	-fx-background-color: transparent;
	-fx-border-style: solid;
	-fx-border-color:white;
	-fx-border-radius:30;
	-fx-border-width:20;
}
.imageFoodPane{
	-fx-background-color: white;
}
.imageFoodPaneBoorder{
	-fx-background-image: url(..\img\food.jpg);
	-fx-border-style: solid;
	-fx-border-color:#f8f8f8;
	-fx-border-radius:30;
	-fx-border-width:15;
}
.columnTableProduct{

	-fx-border-style:hidden hidden solid hidden;
	-fx-border-color:white;
	-fx-padding:5 0 5 0;
	-fx-font-size:14;
	-fx-text-fill: #3e0909;
	-fx-alignment: center;
}
.tableViewProduct{

}
.buttonSave{
	-fx-background-color:#42b3c5;
	-fx-text-fill:white;

}
.paneButtonSave{
	-fx-border-style:solid;
	-fx-border-radius:40;
	-fx-border-width:10;
	-fx-border-color:#42b3c5;
}
.buttonClose{
	-fx-background-color:#818181;
	-fx-text-fill:white;
}
.paneButtonClose{
	-fx-border-style:solid;
	-fx-border-radius:40;
	-fx-border-width:10;
	-fx-border-color:#818181;
}
.input-style{
	-fx-background-color:white;
	-fx-border-style:solid;
	-fx-border-color:transparent;
	-fx-border-radius:40;

}
.input-style-border{
	-fx-border-style:solid;
	-fx-border-radius:40;
	-fx-border-width:5;
	-fx-border-color:#eeeeee;
	-fx-background-color:transparent;
}
.border-profile{
	-fx-border-color:white;
	-fx-border-style:dashed;
	-fx-border-radius:50%;
	-fx-border-width:2;
}
.quantity-pane{
	-fx-background-color:#ee3d48;
}
.quantity-pane-border{
	-fx-border-style:hidden solid solid solid;
	-fx-border-radius:20;
	-fx-border-width:20;
	-fx-border-color:#ee3d48;
	-fx-background-color:transparent;
}
.search-input-field{
	-fx-background-color:whitesmoke;
	-fx-text-fill:red;
}
.enquery-button{
	-fx-background-color:white;
	-fx-text-fill:#ee3d48;
}
.enquery-button-border{
	-fx-border-style:solid;
	-fx-border-radius:40;
	-fx-border-width:10;
	-fx-border-color:white;
}
.pane-food{
	-fx-background-color:white;
}
.pane-food-border{
	-fx-border-style:solid;
	-fx-border-radius:40;
	-fx-border-width:20;
	-fx-border-color:white;
}
.image-food-pane-border{
	-fx-border-style:solid solid hidden solid;
	-fx-border-radius:40;
	-fx-border-width:20;
	-fx-border-color:#f8f8f8;
}
.button-food{
	-fx-background-color:white;

}
/* The main scrollbar **track** CSS class  */
.scrollPane .scroll-bar:horizontal .track,
.scrollPane .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}
/* The increment and decrement button CSS class of scrollbar */
.scrollPane .scroll-bar:horizontal .increment-button ,
.scrollPane .scroll-bar:horizontal .decrement-button {
	-fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}
/* The increment and decrement button CSS class of scrollbar */

.scrollPane .scroll-bar:vertical .increment-button ,
.scrollPane .scroll-bar:vertical .decrement-button {

	-fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 5 0 0;

}
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scrollPane .scroll-bar:horizontal .thumb,
.scrollPane .scroll-bar:vertical .thumb {
	-fx-background-color:#ee3d48;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}